@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Prion">

    <title>Import Renewal</title>

    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet">
</head>
<body>


    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h2 class="masthead-brand" id="remover-alerta">Renewal</h2>
                    </div>
                </div>

                <div class="inner cover">
                    <p class="lead" id="adicionar-alerta">Upload here the vendor's file</p>

                    <div class="input-group">
                        <span class="input-group-btn">
                            <button id="fake-file-button-browse" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-file"></span>
                            </button>
                        </span>
                        <input type="file" id="files-input-upload" style="display:none">
                        <input type="text" id="fake-file-input-name" disabled="disabled" placeholder="Select your file" class="form-control">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" disabled="disabled" @*data-toggle="modal" data-target="#myModal"*@ id="fake-file-button-upload">
                                <span class="glyphicon glyphicon-upload"></span>
                            </button>
                        </span>

                    </div>


                    <div class="oaerror danger out" id="alerta">
                        <strong>Exception</strong> - <span id="AlertaMensagem">O sistema exibe um erro com instruções sobre o formato suportado.</span>
                    </div>


                </div>




            </div>

        </div>

    </div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="modal-header">
                    <h2 class="modal-title" id="myModalLabel">Following the first 10 lines </h2>
                    <h2 class="modal-subtitle" id="myModalLabel">Please check the data then hit confirm button</h2>
                </div>
                <div class="modal-body">
                    <div class="linhas_do_arquivo table-responsive">
                        <table class="table table-bordered table-striped ">
                            <tbody>
                                <tr>
                                    <td> 975 COMSTOR 5,99E+17 5,0915E+17 1,43965E+20 1,2237E+20 02/03/2016 00:00:00 01/03/2017 00:00:00 1005622 SNT ASA5515-K9 CON-SNT-A15K9 FTX18041187 1501939757 M-SPEAR SMARTNETREGISTRATIONS 26/02/2016 00:00:00 11924563 53825301 UNKNOWN 76087 1002753 2071762 SUPPORT TRACK INC VAR 6529 6TH AVENUE NORTHWEST SEATTLE WA 98117 UNITED STATES MIKE SPEAR 206-297-6262 X101 mike@supporttrack.com 2607 FRED HUTCHINSON CANCER RESEARCH CENTER 1100 FAIRVIEW AVENUE NORTH SEATTLE WA 98109 UNITED STATES ENT 8933949 SUPPORT SOLUTIONS 37667 FRED HUTCHINSON CANCER RESEARCH CENTER Q3 FY2017 2204273 RENEW ACTIVE 15383579 </td>
                                </tr>
                                <tr>
                                    <td> 975 COMSTOR 2,28E+18 1,06723E+18 1,43965E+20 1,2237E+20 13/08/2016 00:00:00 01/03/2017 00:00:00 1005622 SNT WS-C4500X-24X-ES CON-SNT-WSC24EXX JAE1930049T 1700610627 M-SPEAR SMARTNETREGISTRATIONS 26/02/2016 00:00:00 11924563 100947113 UNKNOWN 76087 1002753 2071762 SUPPORT TRACK INC VAR 6529 6TH AVENUE NORTHWEST SEATTLE WA 98117 UNITED STATES MIKE SPEAR 206-297-6262 X101 mike@supporttrack.com 2607 FRED HUTCHINSON CANCER RESEARCH CENTER 1100 FAIRVIEW AVENUE NORTH SEATTLE WA 98109 UNITED STATES ENT 8933949 SUPPORT SOLUTIONS 37667 FRED HUTCHINSON CANCER RESEARCH CENTER Q3 FY2017 2204273 RENEW ACTIVE 15383579 </td>
                                </tr>
                                <tr>
                                    <td> 975 COMSTOR 1,6E+19 1,36E+19 1,43965E+20 1,2237E+20 02/03/2016 00:00:00 01/03/2017 00:00:00 1005622 SNT N7K-C7018 CON-SNT-N7KC7018 TBM16218164 949817080 M-SPEAR SMARTNETREGISTRATIONS 26/02/2016 00:00:00 11924563 51742010 UNKNOWN 76087 1002753 2071762 SUPPORT TRACK INC VAR 6529 6TH AVENUE NORTHWEST SEATTLE WA 98117 UNITED STATES MIKE SPEAR 206-297-6262 X101 mike@supporttrack.com 2607 FRED HUTCHINSON CANCER RESEARCH CENTER 1100 FAIRVIEW AVENUE NORTH SEATTLE WA 98109 UNITED STATES ENT 8933949 SUPPORT SOLUTIONS 37667 FRED HUTCHINSON CANCER RESEARCH CENTER Q3 FY2017 2204273 RENEW ACTIVE 15383579 </td>
                                </tr>
                                <tr>
                                    <td> 975 COMSTOR 2,28E+18 1,06723E+18 1,43965E+20 1,2237E+20 13/08/2016 00:00:00 01/03/2017 00:00:00 1005622 SNT WS-C4500X-24X-ES CON-SNT-WSC24EXX JAE1930030E 1700610532 M-SPEAR SMARTNETREGISTRATIONS 26/02/2016 00:00:00 11924563 100947113 UNKNOWN 76087 1002753 2071762 SUPPORT TRACK INC VAR 6529 6TH AVENUE NORTHWEST SEATTLE WA 98117 UNITED STATES MIKE SPEAR 206-297-6262 X101 mike@supporttrack.com 2607 FRED HUTCHINSON CANCER RESEARCH CENTER 1100 FAIRVIEW AVENUE NORTH SEATTLE WA 98109 UNITED STATES ENT 8933949 SUPPORT SOLUTIONS 37667 FRED HUTCHINSON CANCER RESEARCH CENTER Q3 FY2017 2204273 RENEW ACTIVE 15383579 </td>
                                </tr>
                                <tr>
                                    <td> 975 COMSTOR 5,67E+17 4,8195E+17 1,43965E+20 1,2237E+20 02/03/2016 00:00:00 01/03/2017 00:00:00 1005622 SNT C2921-VSEC-CUBE/K9 CON-SNT-2921VSCC FTX1707AJ0N 1247875842 M-SPEAR SMARTNETREGISTRATIONS 26/02/2016 00:00:00 11924563 52641721 31/12/2022 00:00:00 UNKNOWN 76087 1002753 2071762 SUPPORT TRACK INC VAR 6529 6TH AVENUE NORTHWEST SEATTLE WA 98117 UNITED STATES MIKE SPEAR 206-297-6262 X101 mike@supporttrack.com 2607 FRED HUTCHINSON CANCER RESEARCH CENTER 1100 FAIRVIEW AVENUE NORTH SEATTLE WA 98109 UNITED STATES ENT 8933949 SUPPORT SOLUTIONS 37667 FRED HUTCHINSON CANCER RESEARCH CENTER Q3 FY2017 2204273 30/06/2022 00:00:00 RENEW ACTIVE 15383579 </td>
                                </tr>
                                <tr>
                                    <td> 975 COMSTOR 4,32E+17 3,672E+17 1,43965E+20 1,2237E+20 02/03/2016 00:00:00 01/03/2017 00:00:00 1005622 SNT VG224 CON-SNT-VG224 FTX1601AL5S 884039784 M-SPEAR SMARTNETREGISTRATIONS 26/02/2016 00:00:00 11924563 51260541 30/04/2020 00:00:00 UNKNOWN 76087 1002753 2071762 SUPPORT TRACK INC VAR 6529 6TH AVENUE NORTHWEST SEATTLE WA 98117 UNITED STATES MIKE SPEAR 206-297-6262 X101 mike@supporttrack.com 2607 FRED HUTCHINSON CANCER RESEARCH CENTER 1100 FAIRVIEW AVENUE NORTH SEATTLE WA 98109 UNITED STATES ENT 8933949 SUPPORT SOLUTIONS 37667 FRED HUTCHINSON CANCER RESEARCH CENTER Q3 FY2017 2204273 30/10/2019 00:00:00 RENEW ACTIVE 15383579 </td>
                                </tr>
                                <tr>
                                    <td> 975 COMSTOR 4,32E+17 3,672E+17 1,43965E+20 1,2237E+20 02/03/2016 00:00:00 01/03/2017 00:00:00 1005622 SNT VG224 CON-SNT-VG224 FHK0833U026 206115590 M-SPEAR SMARTNETREGISTRATIONS 26/02/2016 00:00:00 11924563 44407748 30/04/2020 00:00:00 UNKNOWN 76087 1002753 2071762 SUPPORT TRACK INC VAR 6529 6TH AVENUE NORTHWEST SEATTLE WA 98117 UNITED STATES MIKE SPEAR 206-297-6262 X101 mike@supporttrack.com 2607 FRED HUTCHINSON CANCER RESEARCH CENTER 1100 FAIRVIEW AVENUE NORTH SEATTLE WA 98109 UNITED STATES ENT 8933949 SUPPORT SOLUTIONS 37667 FRED HUTCHINSON CANCER RESEARCH CENTER Q3 FY2017 2204273 30/10/2019 00:00:00 RENEW ACTIVE 15383579 </td>
                                </tr>
                                <tr>
                                    <td> 975 COMSTOR 4,32E+17 3,672E+17 1,43965E+20 1,2237E+20 02/03/2016 00:00:00 01/03/2017 00:00:00 1005622 SNT VG224 CON-SNT-VG224 FTX1601AL82 884070763 M-SPEAR SMARTNETREGISTRATIONS 26/02/2016 00:00:00 11924563 51260539 30/04/2020 00:00:00 UNKNOWN 76087 1002753 2071762 SUPPORT TRACK INC VAR 6529 6TH AVENUE NORTHWEST SEATTLE WA 98117 UNITED STATES MIKE SPEAR 206-297-6262 X101 mike@supporttrack.com 2607 FRED HUTCHINSON CANCER RESEARCH CENTER 1100 FAIRVIEW AVENUE NORTH SEATTLE WA 98109 UNITED STATES ENT 8933949 SUPPORT SOLUTIONS 37667 FRED HUTCHINSON CANCER RESEARCH CENTER Q3 FY2017 2204273 30/10/2019 00:00:00 RENEW ACTIVE 15383579 </td>
                                </tr>
                                <tr>
                                    <td> 975 COMSTOR 2,28E+18 1,06723E+18 1,43965E+20 1,2237E+20 13/08/2016 00:00:00 01/03/2017 00:00:00 1005622 SNT WS-C4500X-24X-ES CON-SNT-WSC24EXX JAE1928029K 1700610637 M-SPEAR SMARTNETREGISTRATIONS 26/02/2016 00:00:00 11924563 100947113 UNKNOWN 76087 1002753 2071762 SUPPORT TRACK INC VAR 6529 6TH AVENUE NORTHWEST SEATTLE WA 98117 UNITED STATES MIKE SPEAR 206-297-6262 X101 mike@supporttrack.com 2607 FRED HUTCHINSON CANCER RESEARCH CENTER 1100 FAIRVIEW AVENUE NORTH SEATTLE WA 98109 UNITED STATES ENT 8933949 SUPPORT SOLUTIONS 37667 FRED HUTCHINSON CANCER RESEARCH CENTER Q3 FY2017 2204273 RENEW ACTIVE 15383579 </td>
                                </tr>
                                <tr>
                                    <td> 975 COMSTOR 2,21E+17 1,8785E+17 1,43965E+20 1,2237E+20 02/03/2016 00:00:00 01/03/2017 00:00:00 1005622 SNT ASA5505-SSL10-K9 CON-SNT-AS5SSL10 JMX1213Z37G 386948370 M-SPEAR SMARTNETREGISTRATIONS 26/02/2016 00:00:00 11924563 47500447 UNKNOWN 76087 1002753 2071762 SUPPORT TRACK INC VAR 6529 6TH AVENUE NORTHWEST SEATTLE WA 98117 UNITED STATES MIKE SPEAR 206-297-6262 X101 mike@supporttrack.com 2607 FRED HUTCHINSON CANCER RESEARCH CENTER 1100 FAIRVIEW AVENUE NORTH SEATTLE WA 98109 UNITED STATES ENT 8933949 SUPPORT SOLUTIONS 37667 FRED HUTCHINSON CANCER RESEARCH CENTER Q3 FY2017 2204273 RENEW ACTIVE 15383579 </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>


                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="oaerror info in">
                                <strong>Warning</strong> - Este arquivo pode conter dezenas de milhares de linhas.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="exampleInputEmail2">Email</label>
                                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                                </div>
                                <button type="button" class="btn btn-primary">Confirm</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- jQuery -->
    <script  src="@Url.Content("~/Scripts/jquery.js")"></script>
    <!-- Bootstrap Core JavaScript -->
    <script  src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <!-- Custom-->
    <script  src="@Url.Content("~/Scripts/index.js")"></script>
</body>

</html>
